.button {
  background: rgb(56, 199, 115);
  color: white;
  font-weight: 600;
  text-align: center;
  // line-height: 1.3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 70px;
  height: 40px;
  margin-top: 10px;
  margin-right:15px;

  &:hover {
      background:rgb(52, 188, 109);
  }
}



